 * {margin:0; padding:0;}
 
 a.red {
	 color:#FFFFFF;
	 width:100px;
	 height:30px;
	 text-transform:uppercase;
	 margin-left:auto;
	 margin-right:auto;
 }
 
 
 
 hr { 
    display: block;
    margin-top: 0.5em;
    margin-bottom: 0.5em;
    margin-left: auto;
    margin-right: auto;
    border-style: inset;
    border-width: 2px;
} 
 
 .icon {
	 height:70px;
	 width:70px;
 }
 
 th{
	 text-transform:uppercase;
	
 }
 
td,th {
	padding-left:10px;
	text-align: left;
}

.title {
	width:400px;
}

div.paging {
	margin-left:30px
}

p.absolute {
	margin-left:30px;
	font-family:calibri;
	color:#B30000;
	position:absolute;
	top:240px;
	left:60%;
	font-size:20px;
	
}

a{
	text-decoration:none;
	color:#B30000;
	background-color:none;
}

img.png {
	height:40px;
	width:40px;
}
button.float{
	float:right;
		 border:outset 2px ;
		 border-radius:5px;
}
button.float2{
	float:left;
		 border:outset 2px ;
		 border-radius:5px;
}

li.show{
	height:25px;
	width:100px;
	background:linear-gradient(to top,rgba(255,0,0,0),#660000);
	background-color:#B30000;
	list-style:none;
	padding-top:5px;
	border-radius:10px;
	text-align:center;

}
a.red{
	display:block;
	

}

table.pusat {
	margin-left:20px;
	font-family:calibri;

	background-color:#FFF;
	margin-top:20px;
	
	
}

td{
	padding-right:5px;
}